extends layout

block title
  title sasyugo.com

block content
  h1 sasyugo.com
  nav
    ul
      li
        a(href="http://fnobi.sasyugo.com") fnobi
      li
        a(href="http://soramber.sasyugo.com") soramber